.img1{
   width: 30%;
   height: 30%;
   /* gap: 20px; */
   /* padding-right: 20px; */
  }
  .img2{
   width: 30%;
   height: 30%;
  }
  .container {
   border: 2px solid black;
   display: flex;
   justify-content: center;
   /* justify-content: space-between; */
   /* justify-content: ; */
   gap: 20px;
   padding: 10px;
   margin: 10px;
  }

  .container2{
   border: 3px solid;
   height: 800px;
   width: 100%;
   padding: 10px;
   display: flex;
   justify-content: space-around;
   gap: 10px;
  }
  .card1{
   border: 2px solid;
   margin-bottom: 10px;
   /* padding: 10px; */
   height: 60%;
   /* height: auto; */
   width: 20%;
  }
  .card2{
   border: 2px solid;
   height: 60%;
   width: 20%;
   position: relative;
   top: 100px;
  }
  h1{
   text-align: center;
  }
  p{
   padding: 10px;
  }
  .card3{
    border: 2px solid;
   height: 60%;
   width: 20%;
  }
  .card4{
    border: 2px solid;
   height: 60%;
   width: 20%;
   
  }