.sec{
   display: flex;
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
  }
  .logi{
   height: auto;
   width: 400px;
   margin: 20px;
   background-color: black;
   color: aliceblue;
   border-radius: 10px;
   padding: 10px ;
  }