.container{
  border: 1px solid ;
  height: 500px;
  grid-template-columns: 100px 100px;
  grid-template-rows: 150px 150px 300px;
  display: grid;
  
  }
  .item{
   font-size: 30px;
   text-align: center;
   padding: 10px;
  }
  .item-6{
   grid-row: 1/2;
   grid-column: 1/3;
   background-color: yellow;

  }
  .item-1{
   grid-row: 1/2;
   /* grid-column: 1/2; */
  }
  .item-2{
   grid-column: 1/4;
   background-color: blue;
  }