.container{
   height: 400px;
   width: 600px;
   border: 2px solid;
   gap: 10px;
   padding: 10px;
  }
  .card1{
   height: 100px;
   border: 2px double blue;
  }
  .card2{
   height: 160px;
   border: 2px dotted green;
   margin-top: 10px;
  }